html,
body {
  overflow-x: hidden;
  height: 100%;
  color: $textColor;
  font-family: 'Open Sans', sans-serif;
}

input::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

input::-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

input:-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

input:-ms-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

input:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

input:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

input:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

textarea::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
textarea::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
textarea:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
textarea:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
textarea:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
textarea:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
textarea:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
textarea:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}


.box {
  height: 100vh;
  width: 100vw;
  background-image: url(/images/start-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.box-pages{
   background-image: url(/images/service-bg.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.active-link{
  border-bottom: 2px solid #FF5F23;
}

.main {
  flex: 1 0 auto;
  position: relative;
}

.footer {
  flex: 0 0 auto;
}

.container {
  width: 71%;
  margin: 0 auto;
}

#more {
  display: none;
}

.link-all{
  font-weight: normal;
  @include adaptiv-font(18,14);
  color: $orange;
  border-bottom: 1px solid transparent;
  &:hover{
    color: #FF5F23;
    border-bottom: 1px solid #FF5F23;
  }
}

.read-all{
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.015em;
  color: $orange;
  padding: 12px 14px;
  border: 1px solid $orange;
  border-radius: 5px;
  &:hover{
    background-color: $orange;
    color: #fff;
    transition: all .3s;
  }
}

.btn{
  display: inline-block;
  background-color: $orange;
  border-radius: 5px;
  @include adaptiv-font(18,13);
  color: #FFFFFF;
  @include adaptiv-paddingTop(18, 10);
  @include adaptiv-paddingBottom(18, 10);
  @include adaptiv-paddingLeft(30, 15);
  @include adaptiv-paddingRight(30, 15);
  &:hover{
    background-color: #FF5F23;
    color: #DADADA;
    transition: all 0.3s;
  }
}

.title{
  @include adaptiv-font(40,25);
  font-weight: 300;
  letter-spacing: 0.03em;
}

.pages-title{
  font-style: normal;
  font-weight: normal;
  @include adaptiv-font(40,25);
  text-transform: capitalize;
  color: #FFFFFF;
  @include adaptiv-marginBottom(98,30);
  @include adaptiv-marginTop(96, 30);
}

.text{
  font-weight: 400;
  @include adaptiv-font(16, 13);
}

@media (max-width: 1600px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 450px) {
  .title {
    text-align: center;
  }
}