html,
body {
  overflow-x: hidden;
  height: 100%;
  color: $textColor;
  font-family: 'Open Sans', sans-serif;
}

.box {
  height: 100vh;
  width: 100vw;
  background-image: url(/images/start-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  width: 71%;
  margin: 0 auto;
}

#more {
  display: none;
}

.link-line{
  line-height: 1;
  display: inline-block;
  text-decoration:none;
  position: relative;
  &:after {
    position: absolute;
    top: 27px;
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    background-color: $orange;
    transition: width .3s ease-in-out;
  }
  &:hover:after,
  &:focus:after {
    width: 100%;
  }
}

.link-all{
  font-weight: normal;
  font-size: 18px;
  letter-spacing: 0.015em;
  color: $orange;
  border-bottom: 1px solid transparent;
}

.read-all{
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.015em;
  color: $orange;
  padding: 12px 14px;
  border: 1px solid $orange;
  border-radius: 5px;
  &:hover{
    background-color: $orange;
    color: #fff;
    transition: all .3s;
  }
}

.btn{
  display: inline-block;
  background-color: $orange;
  border-radius: 5px;
  font-size: 18px;
  color: #FFFFFF;
  padding: 18px 30px;
  &:hover{
    background-color: #FF5F23;
    color: #DADADA;
    transition: all 0.3s;
  }
}

.title{
  @include adaptiv-font(40,25);
  font-weight: 300;
  letter-spacing: 0.03em;
}

.text{
  font-weight: 400;
  @include adaptiv-font(16, 13);
}

@media (max-width: 1600px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 450px) {
  .title {
    text-align: center;
  }
}