.navigation {
  @include adaptiv-marginBottom(88, 30);
  display: flex;

  &-item {
    background-color: #A09F9F;
    padding: 9px 11px;

    &:not(:last-child) {
      margin-right: 14px;
    }

    &--active {
      background-color: #FF4500;
    }
  }

  &-title {
    font-style: normal;
    font-weight: normal;
    @include adaptiv-font(16, 12);
    letter-spacing: 0.03em;
    color: #FFFFFF;
  }
}

@media (max-width: 1000px) {
  .navigation{
    flex-wrap: wrap;
    &-item{
      margin-top: 10px;
    }
  }
}