.subcategory{
  margin-bottom: 88px;
  &__title{
    margin-bottom: 33px;
  }
  &__info{
    display: flex;
    justify-content: space-between;
  }
  &__texts{
    margin-right: 54px;
    width: 40%;
  }
  &__text:not(:last-child){
    margin-bottom: 25px;
  }
  &__img{
    width: 50%;
    @include adaptiv-height(500,250);
    position: relative;
    display: flex;
    justify-content: center;
    &-icon{
      position: absolute;
      top: 0;
      left: 0;
      padding: 6px;
      background-color: #fff;
      @include adaptiv-width(100,40);
      @include adaptiv-height(100, 40);
    }
  }
}

.hide{
  display: none;
}

@media (max-width: 800px) {
  .subcategory{
    &__info{
      flex-direction: column;
    }
    &__texts{
      width: 100%;
      margin-bottom: 20px;
    }
    &__img{
      width: 100%;
    }
  }
}