.sidebar {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 250px;
  background-color: #ad9992;
  color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  box-shadow: -15px 0 10px 0 rgba(0, 0, 0, 0.2);
  transition: all 1000ms;
  transition-delay: .3s;
  overflow-y: scroll;
  &.sidebar--hidden {
    transform: translateX(100%);
  }
  &__container{
    height: 100%;
  }
  &__wrapper{
    height: 80%;
    flex-direction: column;
    justify-content: space-between;
  }
  &__menu{
    width: 100%;
    display: block;
    margin-bottom: 110px;
    padding-left: 20px !important;
    &-item{
      width: 100%;
      &:not(:last-child){
        margin-bottom: 30px;
      }
      &--submenu{
        &::after{
          right: 20px !important;
        }
      }
    }
    &-link{
      display: inline-block;
      width: fit-content;
      width: 100%;
      font-size: 16px;
      margin-bottom: 10px;
    }
  }

  &__settings{
    display: none;
  }

  &__submenu>li>a{
    color: #fff;
    font-size: 13px;
  }

  &__submenu li {
   margin-bottom: 10px;
  }
}


@media (max-width: 700px) {
  .sidebar {
    &__settings{
      display: flex;
      padding-bottom: 30px;
    }
    &__languages-btn{
      font-size: 18px;
    }
  }
}


@media (max-width: 300px) {
  .sidebar{
    width: 100%;
  }
}