.equipment {
  @include adaptiv-paddingBottom(90,35);
  &__title {
    margin-bottom: 47px;
  }

  &__group{
    position: relative;
  }

  &__view{
    position: absolute;
    right: 0;
    &-btn:first-child{
      margin-right: 6px;
    }
  }

  &__filter{
    margin-bottom: 41px;
  }

  &__role {
    @include adaptiv-marginBottom(38,15);
    &-btn{
      margin-bottom: 23px;
      background-color: #FF4500;
    }
    &-list {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }

    &-item {
      display: flex;
      align-items: center;
      margin-right: 20px;
    }

    &-checkbox {
      margin: 0;
      width: 16px;
      height: 16px;
      background-color: #EFF6F9;
      border-radius: 3px;
      margin-right: 6px;
    }

    &-label {
      font-style: normal;
      font-weight: normal;
      @include adaptiv-font(14,11);
    }
  }

  &__technologies {
    &-btn {
      margin-bottom: 23px;
      background-color: #739DB2;
    }
    &-list {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }

    &-item {
      display: flex;
      align-items: center;
      margin-right: 20px;
    }

    &-checkbox {
      margin: 0;
      width: 16px;
      height: 16px;
      background-color: #EFF6F9;
      border-radius: 3px;
      margin-right: 6px;
    }

    &-label {
      font-style: normal;
      font-weight: normal;
      @include adaptiv-font(14,11);
    }
  }

  &-btn{
    @include adaptiv-font(18,12);
    color: #fff;
    padding: 9px;
    border-radius: 5px;
    width: 250px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    &__icon{
      margin-left: 9px;
      transition: all .3s;
      &--translate{
        transform: scale(1, -1);
      }
    }
  }



  &__list{
    &-grid{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      @include adaptiv-gridColGap(21,8);
      @include adaptiv-gridRowGap(21, 8);
      &>.equipment__item {
        &:last-child {
          &>.equipment__item-contact{
            display: none;
          }
        }
      }
    }
    &-row{
      display: flex;
      flex-direction: column;
      &>.equipment__item{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        &:not(:last-child){
          @include adaptiv-marginBottom(26,10);
        }
        &>.equipment__item-photo{
          width: 15% !important;
        }
        &:last-child{
          &>.equipment__item-title {
            display: none;
          }
          &>.equipment__item-photo {
            width: 8% !important;
            margin-bottom: 0;
            margin-left: 25px;
          }
          &>.equipment__item-contact {
            color: #FFFFFF;
            width: 50%;
            margin: auto;
            &>.equipment__item-contact-title {
              font-style: normal;
              font-weight: normal;
              @include adaptiv-font(24, 13);
              margin-bottom: 14px;
            }
            &>.equipment__item-contact-text {
              font-style: normal;
              font-weight: normal;
              @include adaptiv-font(16, 9);
              line-height: 182.18%;
            }
          }
        }
      }
    }
  }

  &__item {
    @include adaptiv-padding(30,15);
    background-color: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(142, 140, 140, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    &:hover{
      cursor: pointer;
      .equipment__item-bottom{
        transform: translateY(0);
      }
    }
    &-info{
      &>.equipment__item-text {
        text-align: left;
        display: none;
      }
    }
    &-photo{
      margin-bottom: 25px;
      width: 60%;
    }
    &-title{
      font-style: normal;
      font-weight: normal;
      @include adaptiv-font(24,13);
      &-grid{
        margin-bottom: 23px;
        text-align: center;
      }
      &-row{
        width: 85%;
        margin: auto;
        text-align: left;
        margin-bottom: 14px;
      }
    }
    &-bottom{
      background-color: rgba(115, 157, 178, 1);
      color: #fff;
      position: absolute;
      padding: 10px;
      bottom: 0;
      transform: translateY(105%);
      transition: all .3s;
    }
    &-text{
      width: 85%;
      margin: auto;
      font-style: normal;
      font-weight: normal;
      @include adaptiv-font(16, 9);
      text-align: center;
      line-height: 182.18%;
    }
    &-btn{
      display: none;
    }
    &:last-child{
      background-color: #739DB2;
      &>.equipment__item-photo{
        width: 30%;
      }
      &>.equipment__item-title{
        color: #fff;
        &-row {
          margin-bottom: auto;
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .equipment__role-list,
  .equipment__technologies-list{
    flex-direction: column;
    align-items: start;
  }

   .equipment__role-item,
   .equipment__technologies-item {
     margin-bottom: 10px;
     margin-right: 0;
   }
}

@media (max-width: 650px) {
  .equipment{
    &__list{
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: 500px) {
  .equipment {
    &__list{
      &-row{
        &>.equipment__item{
          flex-direction: column;
          &:last-child{
            &>.equipment__item-photo {
              margin-bottom: 20px;
              margin-left: 0;
            }
            &>.equipment__item-title {
              margin-bottom: 20px;
            }
            &>.equipment__item-contact {
              width: 85%;
              margin-bottom: 20px;
              &>.equipment__item-contact-title {
                text-align: center;
              }
              &>.equipment__item-contact-text {
                text-align: center;
              }
            }
          }
          &>.equipment__item-photo {
            width: 25% !important;
          }
        }
      }
    }
    &__item{
      &-info {
        &>.equipment__item-text {
         margin-bottom: 20px;
        }
      }
      &-title{
        &-row{
          text-align: center;
        }
      }
    }
  }
}

@media (max-width: 450px) {
  .equipment {
    &__item{
      &-text{
        width: 100%;
        line-height: 135%;
      }
    }
    &__role-btn,
    &__technologies-btn{
      width: 100%;
    }

    &__view{
      position: static;
      margin-bottom: 20px;
      display: flex;
      justify-content: end;
    }
  }
}