.blog-block {
  @include adaptiv-paddingBottom(100, 50);
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 35px;
  }
}

.blog{
  &-list {
    &__title {
      margin-bottom: 30px;
    }

    &__content {
      margin-right: 10px;
      margin-left: 10px;
    }
  }
}

@media (max-width: 450px) {
  .blog-block {
    &__top {
      flex-direction: column;
    }

    &__title {
      margin-bottom: 20px;
    }
  }
}