.technologies {
  @include adaptiv-paddingBottom(222, 60);

  &__title {
    margin-bottom: 24px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    @include adaptiv-gridGap(55, 10);
    margin-bottom: 26px;
  }

  &__link {
    display: block;
    &:hover {
      opacity: 0.5;
      transition: opacity 0.5s;
    }
  }

  @for $i from 1 through 6 {
    &__link:nth-child(#{$i})>&__top {
      background-image: url(/images/technologies/#{$i}.png);
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &__top {
    @include adaptiv-height(310, 100);
    position: relative;
    color: $textColor;
  }

  &__top-title {
    position: absolute;
    bottom: 19px;
    left: 19px;
    height: 88px;
    font-weight: normal;
    @include adaptiv-font(18, 11);
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding-left: 21px;
    padding-right: 54px;
    @include adaptiv-paddingRight(54, 21);

    &_line {
      width: 36px;
      height: 2px;
      background-color: $orange;
      margin-left: 14px;
    }
  }
}

@media (max-width: 1220px) {
  .technologies {
    &__top {
      &-title {
        right: 19px;
      }
    }
  }
}


@media (max-width: 800px) {
  .technologies {
    &__list {
      grid-template-columns: repeat(2, 1fr);
    }

    &__top {
      &-title {
        height: auto;
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }
  }
}

@media (max-width: 450px) {
  .technologies {
    &__list {
      grid-template-columns: repeat(1, 1fr);
    }

    &__top {
      height: 15vh;
    }
  }
}