.technologies {
  @include adaptiv-paddingBottom(100, 50);

  &__title {
    margin-bottom: 24px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    @include adaptiv-gridGap(55, 10);
    margin-bottom: 26px;
  }

  &__link {
    display: block;

    &:hover {
      .technologies__top-title_line {
        animation-name: moveRight;
        animation-duration: .5s;
        animation-fill-mode: forwards;
      }
    }

    &:last-child {
      display: none;
    }

    &--visible {
      display: block !important;
    }
  }

  @for $i from 1 through 7 {
    &__link:nth-child(#{$i})>&__top {
      background-image: url(/images/technologies/#{$i}.png);
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &__top {
    @include adaptiv-height(310, 100);
    position: relative;
    color: $textColor;
  }

  &__top-title {
    position: absolute;
    bottom: 19px;
    left: 19px;
    height: 88px;
    font-weight: normal;
    @include adaptiv-font(18, 11);
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding-left: 21px;
    @include adaptiv-paddingRight(54, 21);

    &_line {
      width: 36px;
      height: 2px;
      background-color: $orange;
      margin-left: 14px;
    }
  }
}

.technologies-method {
  &__title {
    margin-bottom: 10px;
  }

  &__nav {
    display: flex;
    margin-bottom: 15px;

    &-item:not(:last-child) {
      margin-right: 18px;
    }

    &-item {
      background: #739DB2;
      border-radius: 2px;
      padding: 5px 13px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-link {
      font-style: normal;
      font-weight: normal;
      @include adaptiv-font(16, 10);
      color: #FFFFFF;
      text-align: center;
    }
  }

  &__info {
    display: flex;
  }

  &__text:not(:last-child) {
    margin-bottom: 20px;
  }
}

.technologies-varieties {
  margin-bottom: 88px;

  &__title {
    margin-bottom: 28px;
  }

  &__item {
    &:not(:last-child) {
      @include adaptiv-marginBottom(123, 50);
    }

    &-group {
      display: flex;
      justify-content: space-between;
      margin-bottom: 22px;
    }

    &-title,
    &-descr {
      font-style: normal;
      font-weight: normal;
      @include adaptiv-font(24, 13);
      letter-spacing: 0.045em;
    }

    &-title {
      margin-bottom: 5px;
    }

    &-descr {
      margin-bottom: 12px;
    }

    &-img {
      width: 40%;
      height: fit-content;
    }

    &-info {
      width: 50%;
      @include adaptiv-font(16, 11);
    }

    &-text {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }

    &-additional {
      display: none;
      @include adaptiv-font(16, 11);
    }
  }
}

.readMoreText {
  margin-top: 10px;
}

.technologies-other {
  @include adaptiv-paddingTop(140, 30);
  @include adaptiv-paddingBottom(140, 30);

  &__title {
    margin-bottom: 50px;
  }

  &__link {
    display: block !important;
  }

  &__slider {
    overflow: hidden;

    &>.owl-dots {
      margin-top: 29px !important;
    }
  }

  @for $i from 1 through 7 {
    &__slider>.owl-stage-outer>.owl-stage>.owl-item:nth-child(#{$i})>.technologies__link>.technologies__top {
      background-image: url(/images/technologies/#{$i}.png) !important;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

@media (max-width: 1220px) {
  .technologies {
    &__top {
      &-title {
        right: 19px;
      }
    }
  }
}


@media (max-width: 800px) {
  .technologies {
    &__list {
      grid-template-columns: repeat(2, 1fr);
    }

    &__top {
      &-title {
        height: auto;
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }
  }
}

@media (max-width: 700px) {
  .technologies-varieties {
    &__item {
      &-group {
        flex-direction: column;
        align-items: center;
      }

      &-info {
        width: 100%;
      }

      &-img {
        margin-bottom: 20px;
      }
    }
  }
}

@media (max-width: 450px) {
  .technologies {
    &__list {
      grid-template-columns: repeat(1, 1fr);
    }

    &__top {
      height: 25vh;
    }
  }

  .technologies-method {
    &__nav {
      flex-wrap: wrap;

      &-item {
        margin-top: 10px;
      }
    }
  }
}

@keyframes moveRight {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(30px);
  }
}