.service{
  @include adaptiv-paddingBottom(74,20);
  &__title{
    margin-bottom: 20px;
  }
  &__text{
    margin-bottom: 45px;
  }
}

.service__list>.technologies__link{
  @for $i from 1 through 6 {
    &:nth-child(#{$i}) {
      background-image: url(/images/service/#{$i}.png);
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

.service__list{
  margin-bottom: 0;
}