.service-info {
  &__title {
    margin-bottom: 20px;
  }

  &__text {
    margin-bottom: 91px;
  }

  &__block {
    &-title {
      @include adaptiv-font(30, 20);
      font-weight: 300;
      letter-spacing: 0.03em;
      letter-spacing: 0.03em;
      font-style: normal;
      margin-bottom: 32px;
    }
  }

  &__include {
    margin-bottom: 97px;

    &-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      @include adaptiv-gridColGap(125, 15);
      @include adaptiv-gridRowGap(46, 20);
    }

    @for $i from 1 through 6 {
      &-item {
        @include adaptiv-paddingLeft(60, 40);
        position: relative;

        &:nth-child(#{$i}) {
          &::before {
            left: 0;
            content: "#{$i}";
            position: absolute;
            border-radius: 50%;
            background-color: #A7CDE0;
            color: #292929;
            @include adaptiv-width(45, 30);
            @include adaptiv-height(45, 30);
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }

    &-item {
      &_title {
        font-style: normal;
        font-weight: normal;
        @include adaptiv-font(18, 14);
        color: #292929;
        margin-bottom: 10px;
      }

      &_text {
        font-style: normal;
        font-weight: normal;
        @include adaptiv-font(16, 12);
        color: #595959;
      }
    }
  }

  &__variants {
    margin-bottom: 92px;

    &-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      @include adaptiv-gridColGap(98, 10);
    }

    &-item {
      background-color: #FFFFFF;
      box-shadow: 0px 10px 20px rgba(142, 140, 140, 0.25);
    }

    &-content {
      @include adaptiv-paddingTop(15, 10);
      @include adaptiv-paddingBottom(29, 10);
      @include adaptiv-paddingLeft(40, 10);
      @include adaptiv-paddingRight(40, 10);
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 75%;
    }

    &-img {
      width: 100%;
      height: 25%;
      object-fit: cover;
    }
  }

  &__content {
    &-title {
      width: 100%;
      font-style: normal;
      font-weight: 300;
      font-size: 26px;
      @include adaptiv-font(26, 16);
      letter-spacing: 0.05em;
      margin-bottom: 12px;
    }

    &-list {
      overflow: scroll;
      margin-bottom: 20px;
    }

    &-item {
      padding-left: 14px;
      margin-bottom: 10px;
      font-style: normal;
      font-weight: normal;
      @include adaptiv-font(16, 10);
      position: relative;

      &::before {
        position: absolute;
        content: "";
        width: 5px;
        height: 5px;
        background-color: $orange;
        border-radius: 50%;
        left: 0;
        top: 7px;
      }
    }

    &-btn {
      margin-top: auto;
    }
  }
}

@media (max-width: 700px) {
  .service-info {
    &__variants {
      &-list {
        grid-template-columns: repeat(2, 1fr);
        @include adaptiv-gridRowGap(98, 10);
      }

      &-item:last-child {
        display: flex;
        grid-area: 2 / 1 / 3 / 3;
        height: 35vh;

        &>img {
          height: 100%;
          width: 40%;
        }

        &>.service-info__variants-content {
          height: 100%;
        }
      }

      &-content {
        height: 65%;
      }

      &-img {
        height: 35%;
      }
    }
  }
}

@media (max-width: 600px) {
  .service-info {
    &__include {
      &-list {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}


@media (max-width: 400px) {
  .service-info {
    &__include {
      &-list {
        grid-template-columns: repeat(1, 1fr);
      }
    }
    &__variants {
      &-list {
        grid-template-columns: repeat(1, 1fr);
      }
  
      &-item:last-child {
        grid-area: 3 / 1 / 4 / 2;
        flex-direction: column;
        height: auto;
        &>img {
          height: 35%;
          width: 100%;
        }
        &>.service-info__variants-content {
          height: 65%;
        }
      }
    }
  }
}