.service-other{
  @include adaptiv-paddingTop(140,30);
  @include adaptiv-paddingBottom(140,30);
  &__title{
    margin-bottom: 50px;
  }
  &__link{
    display: block !important;
  }
  &__slider{
    overflow: hidden;
    &>.owl-dots {
      margin-top: 29px !important;
      background-color: #A7CDE0;
      width: 25%;
      margin: auto;
      border-radius: 2.5px;
    }

    &>.owl-dots>.owl-dot {
      width: 35%;
      margin: auto;
    }
  }
  @for $i from 1 through 6 {
    &__slider>.owl-stage-outer>.owl-stage>.owl-item:nth-child(#{$i})>.technologies__link>.technologies__top {
      background-image: url(/images/service/#{$i}.png) !important;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

@media (max-width: 850px) {
  .service-other {
    &__slider {
      &>.owl-dots {
        width: 50%;
      }

      &>.owl-dots>.owl-dot {
        width: 100%;
      }
    }
  }
}