.reviews{
  @include adaptiv-paddingBottom(180, 60);
  &__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 70px;
  }
  &__slider{
    background-color: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(142, 140, 140, 0.25);
    padding: 40px;
    @include adaptiv-padding(40,20);
    &-item{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &-logo{
      margin-bottom: 65px;
    }
    &-text{
      margin-bottom: 33px;
      font-weight: normal;
      @include adaptiv-font(16,12);
      line-height: 182.18%;
    }
    &-bottom{
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: start;
    }
    &-name{
      font-weight: 600;
      @include adaptiv-font(16,12);
    }
    &-position{
      font-weight: 300;
      @include adaptiv-font(16, 12);
      margin-bottom: 8px;
    }
    &-stars{
      display: flex;
      margin-bottom: 40px;
      &_img:not(:last-child){
        margin-right: 6px;
      }
    }
  }
}

.owl{
  &-drag{
    overflow: hidden;
  }
  &-stage{
    display: flex;
  }
  &-nav{
    display: none;
  }
  &-dots{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  &-dot{
    background: #A7CDE0;
    border-radius: 2.5px;
    width: 21px;
    height: 7px;
    &:not(:last-child){
      margin-right: 10px;
    }
  }
  &-dot.active{
    background: $orange;
  }
}

@media (max-width: 600px) {
  .reviews {
    &__slider{
      &-text{
        text-align: center;
      }
      &-bottom{
        flex-direction: column;
        align-items: center;
      }
      &-info{
        order: 2;
        display: flex;
        align-items: center;
        flex-direction: column;
      }
      &-btn {
        order: 1;
        margin-bottom: 25px;
      }
      &-name,
      &-position{
        text-align: center;
      }
    }
  }
}

@media (max-width: 450px) {
  .reviews{
    &__top{
      flex-direction: column;
    }
    &__title{
      margin-bottom: 20px;
    }
  }
}