.reviews{
  @include adaptiv-paddingBottom(180, 60);
  &__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include adaptiv-marginBottom(70,20);
  }
}

@media (max-width: 450px) {
  .reviews{
    &__top{
      flex-direction: column;
    }
    &__title{
      margin-bottom: 20px;
    }
  }
}