.technologies{
  @for $i from 1 through 8 {
    &__item:nth-child(#{$i})>&__top {
      background-image: url(/images/technologies/#{$i}.png);
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  
  &__text{
    font-style: normal;
    font-weight: normal;
    @include adaptiv-font(16,12);
    margin-bottom: 14px;
    line-height: 182.18%;
  }
  &__top{
    &-title{
      &_question{
        width: 20%;
        margin-bottom: 20px;
      }
    }
  }
  &__bottom{
    display: flex;
    flex-direction: column;
  }
}

.technologies-list {
  @include adaptiv-paddingBottom(100, 20);
  &__top {
    margin-bottom: 21px;
  }
  &__list {
    @include adaptiv-gridGap(55, 30);
  }
  &__wrapper {
    position: relative;
  }
  &__list>.technologies__item:last-child>.technologies__top>.technologies__top-title {
    right: 19px;
    top: 19px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__list>.technologies__item{
    &:hover {
      .technologies__top-title_line {
        animation-name: moveRight;
        animation-duration: .5s;
        animation-fill-mode: forwards;
      }
    }
  }
  &__box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}



.list-row{
  & .technologies__item{
    display: flex;
    align-items: center;
  }
  & .technologies__top {
    margin-bottom: 0;
    width: 30%;
  }
  & .technologies__bottom {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 70%;
  }
  & .technologies__text {
    width: 85%;
    margin: auto;
  }
}


@media (max-width: 1000px) {
  .technologies-list {
    &__box{
      flex-direction: column;
    }
  }

  .technologies{
    &__top{
      &-title{
        &_question{
          width: 15%;
        }
        &_text{
          margin-bottom: 10px;
          text-align: center;
        }
      }
    }
  }

  .technologies-list__list>.technologies__item:last-child>.technologies__top>.technologies__top-title{
    padding: 10px;
  }

  .list-row {
    & .technologies__item {
      align-items: start;
    }
    & .technologies__bottom {
      flex-direction: column;
    }
    & .technologies__text {
      margin-bottom: 15px;
    }
    & .technologies__top-title{
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
    & .technologies__top-title_line{
      margin-top: 10px;
      margin-left: 0;
    }
    & .technologies__top-title_text{
      margin-bottom: 0;
    }
  }
}

@media (max-width: 800px) {
  .technologies {
    &-list{
      &__list{
        grid-template-columns: repeat(2, 1fr);
      }
    }
    &__top {
      &-title {
        &_question {
          width: 8%;
          margin-bottom: 10px;
        }
      }
    }
  }
  .list-row {
    & .technologies__top {
      height: 20vh;
    }
    & .technologies__top-title {
      left: 10px;
      right: 10px;
      padding-right: 5px;
      padding-left: 5px;
    }
  }
}


@media (max-width: 600px) {
  .list-row {
    & .technologies__top {
      height: 20vh;
      width: 50%;
    }
    & .technologies__bottom {
      width: 60%;
    }
  }
}



@media (max-width: 500px) {
  .technologies-list {
    &__list>.technologies__item:last-child>.technologies__top>.technologies__top-title {
      right: 10px;
      left: 10px;
      bottom: 10px;
      top: 10px;
    }
  }

  .technologies {
    &__top {
      &-title {
        &_question {
          width: 5%;
          margin-bottom: 10px;
        }
      }
    }
  }
}


@media (max-width: 450px) {
  .technologies {
    &-list {
      &__list {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}